<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ES6</title>
</head>

<body>
    <p>
        <input type="text" id="xInput">
    </p>
    <p>
        <input type="text" id="yInput">
    </p>

    <p id="volume"></p>
    <script src="/js/index.js" charset="utf-8"></script>
</body>

</html>